In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("E:\\DATA ANALYTICS ENGINEERING MASTERY COURSE\\PANDAS MATERIAL\\coviddata.csv")

In [3]:
df.head(4)

        Date State       Region  Confirmed  Deaths  Recovered
0  4/29/2020   NaN  Afghanistan       1939      60        252
1  4/29/2020   NaN      Albania        766      30        455
2  4/29/2020   NaN      Algeria       3848     444       1702
3  4/29/2020   NaN      Andorra        743      42        423

In [4]:
df.shape

(321, 6)

In [5]:
df.size

1926

In [6]:
df.index

RangeIndex(start=0, stop=321, step=1)

In [7]:
df.columns

Index(['Date', 'State', 'Region', 'Confirmed', 'Deaths', 'Recovered'], dtype='object')

In [8]:
df.head(2)

        Date State       Region  Confirmed  Deaths  Recovered
0  4/29/2020   NaN  Afghanistan       1939      60        252
1  4/29/2020   NaN      Albania        766      30        455

In [9]:
df.dtypes

Date         object
State        object
Region       object
Confirmed     int64
Deaths        int64
Recovered     int64
dtype: object

# So as we can see all datatypes are aligned well But Date not well?

In [10]:
df['Date']=pd.to_datetime(df['Date'])

In [11]:
df.dtypes

Date         datetime64[ns]
State                object
Region               object
Confirmed             int64
Deaths                int64
Recovered             int64
dtype: object

In [12]:
df.isnull().sum()

Date           0
State        181
Region         0
Confirmed      0
Deaths         0
Recovered      0
dtype: int64

In [13]:
df.isnull().sum()*100/len(df)

Date          0.000000
State        56.386293
Region        0.000000
Confirmed     0.000000
Deaths        0.000000
Recovered     0.000000
dtype: float64

### Since the State columns containing null values greater than 20 to 30 % so we can delete it 
### but state is important so we will impute it by mode ?

In [14]:
df['State'].value_counts()

Diamond Princess cruise ship    2
Grand Princess                  2
Recovered                       2
Guangdong                       1
South Australia                 1
                               ..
Prince Edward Island            1
Pennsylvania                    1
Guam                            1
Quebec                          1
Channel Islands                 1
Name: State, Length: 137, dtype: int64

In [15]:
df[df['State']=='Recovered']

          Date      State  Region  Confirmed  Deaths  Recovered
284 2020-04-29  Recovered  Canada          0       0      20327
285 2020-04-29  Recovered      US          0       0     120720

## First we need to replace recovered state by nan becoz recovered is not any state name

In [16]:
df['State'].replace('Recovered',np.nan,inplace=True)

### Now we have replaced null values with nan that why it is showing nothing

In [17]:
df[df['State']=='Recovered']

Empty DataFrame
Columns: [Date, State, Region, Confirmed, Deaths, Recovered]
Index: []

In [18]:
df['State'].fillna('Grand Princess',inplace=True)

In [19]:
df.isnull().sum()

Date         0
State        0
Region       0
Confirmed    0
Deaths       0
Recovered    0
dtype: int64

# Show the number of Confirmed, Deaths, Recovered cases in each region ?

In [20]:
df.head(3)

        Date           State       Region  Confirmed  Deaths  Recovered
0 2020-04-29  Grand Princess  Afghanistan       1939      60        252
1 2020-04-29  Grand Princess      Albania        766      30        455
2 2020-04-29  Grand Princess      Algeria       3848     444       1702

In [21]:
df.groupby('Region')['Confirmed','Deaths','Recovered'].count()

<ipython-input-21-557bc9599e2e>:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby('Region')['Confirmed','Deaths','Recovered'].count()

                    Confirmed  Deaths  Recovered
Region
Afghanistan                 1       1          1
Albania                     1       1          1
Algeria                     1       1          1
Andorra                     1       1          1
Angola                      1       1          1
...                       ...     ...        ...
West Bank and Gaza          1       1          1
Western Sahara              1       1          1
Yemen                       1       1          1
Zambia                      1       1          1
Zimbabwe                    1       1          1

[187 rows x 3 columns]

# Remove all the records where confirmed cases is less than 10

In [22]:
df.head(1)

        Date           State       Region  Confirmed  Deaths  Recovered
0 2020-04-29  Grand Princess  Afghanistan       1939      60        252

In [23]:
df[df['Confirmed']<10]

,Date,State,Region,Confirmed,Deaths,Recovered
18,2020-04-29,Grand Princess,Bhutan,7,0,5
98,2020-04-29,Grand Princess,MS Zaandam,9,2,0
105,2020-04-29,Grand Princess,Mauritania,8,1,6
126,2020-04-29,Grand Princess,Papua New Guinea,8,0,0
140,2020-04-29,Grand Princess,Sao Tome and Principe,8,0,4
177,2020-04-29,Grand Princess,Western Sahara,6,0,5
178,2020-04-29,Grand Princess,Yemen,6,0,1
184,2020-04-29,Anguilla,UK,3,0,3
192,2020-04-29,"Bonaire, Sint Eustatius and Saba",Netherlands,5,0,0
194,2020-04-29,British Virgin Islands,UK,6,1,3
203,2020-04-29,Diamond Princess cruise ship,Canada,0,1,0
272,2020-04-29,Northwest Territories,Canada,5,0,0
284,2020-04-29,Grand Princess,Canada,0,0,20327
285,2020-04-29,Grand Princess,US,0,0,120720
288,2020-04-29,Saint Barthelemy,France,6,0,6
289,2020-04-29,Saint Pierre and Miquelon,France,1,0,0
305,2020-04-29,Tibet,Mainland China,1,0,1

# So above is records which is less than 10 now we have to remove these 17 records

In [24]:
df[~(df['Confirmed']<10)]

          Date           State          Region  Confirmed  Deaths  Recovered
0   2020-04-29  Grand Princess     Afghanistan       1939      60        252
1   2020-04-29  Grand Princess         Albania        766      30        455
2   2020-04-29  Grand Princess         Algeria       3848     444       1702
3   2020-04-29  Grand Princess         Andorra        743      42        423
4   2020-04-29  Grand Princess          Angola         27       2          7
..         ...             ...             ...        ...     ...        ...
316 2020-04-29         Wyoming              US        545       7          0
317 2020-04-29        Xinjiang  Mainland China         76       3         73
318 2020-04-29           Yukon          Canada         11       0          0
319 2020-04-29          Yunnan  Mainland China        185       2        181
320 2020-04-29        Zhejiang  Mainland China       1268       1       1263

[304 rows x 6 columns]

# In which region maximum number of Confirmed cases were recorded ?

In [25]:
df.groupby('Region').Confirmed.max().sort_values(ascending=False)

Region
US                       299691
Spain                    236899
Italy                    203591
UK                       165221
France                   165093
                          ...
Sao Tome and Principe         8
Papua New Guinea              8
Bhutan                        7
Western Sahara                6
Yemen                         6
Name: Confirmed, Length: 187, dtype: int64

### In which region maximum number of Confirmed cases were recorded ?

In [26]:
df.groupby('Region').Confirmed.min().sort_values(ascending=False)

Region
Spain             236899
Italy             203591
Germany           161539
Turkey            117589
Russia             99399
                   ...
UK                     3
Mainland China         1
France                 1
Canada                 0
US                     0
Name: Confirmed, Length: 187, dtype: int64

# How many Confirmed, Deaths, Recovered Cases were reported from india till 29 April 2020 ?

In [27]:
df.head(2)

        Date           State       Region  Confirmed  Deaths  Recovered
0 2020-04-29  Grand Princess  Afghanistan       1939      60        252
1 2020-04-29  Grand Princess      Albania        766      30        455

In [28]:
df[df['Region']=='India']

         Date           State Region  Confirmed  Deaths  Recovered
74 2020-04-29  Grand Princess  India      33062    1079       8437

# Sort the entire data w.r.t. no. of confirmed cases in ascending order ?

In [29]:
df.sort_values(by='Confirmed',ascending=False)

,Date,State,Region,Confirmed,Deaths,Recovered
265,2020-04-29,New York,US,299691,23477,0
153,2020-04-29,Grand Princess,Spain,236899,24275,132929
80,2020-04-29,Grand Princess,Italy,203591,27682,71252
168,2020-04-29,Grand Princess,UK,165221,26097,0
57,2020-04-29,Grand Princess,France,165093,24087,48228
...,...,...,...,...,...,...
305,2020-04-29,Tibet,Mainland China,1,0,1
289,2020-04-29,Saint Pierre and Miquelon,France,1,0,0
285,2020-04-29,Grand Princess,US,0,0,120720
284,2020-04-29,Grand Princess,Canada,0,0,20327
203,2020-04-29,Diamond Princess cruise ship,Canada,0,1,0

# Sort the entire data w.r.t. no. of Recovered cases in ascending order ?

In [30]:
df.sort_values(by='Recovered',ascending=False)

          Date           State   Region  Confirmed  Deaths  Recovered
153 2020-04-29  Grand Princess    Spain     236899   24275     132929
285 2020-04-29  Grand Princess       US          0       0     120720
61  2020-04-29  Grand Princess  Germany     161539    6467     120400
76  2020-04-29  Grand Princess     Iran      93657    5957      73791
80  2020-04-29  Grand Princess    Italy     203591   27682      71252
..         ...             ...      ...        ...     ...        ...
248 2020-04-29        Maryland       US      20849    1078          0
246 2020-04-29        Manitoba   Canada        275       6          0
243 2020-04-29       Louisiana       US      27660    1845          0
241 2020-04-29        Kentucky       US       4537     234          0
215 2020-04-29  Grand Princess   Canada         13       0          0

[321 rows x 6 columns]

In [31]:
df

          Date           State          Region  Confirmed  Deaths  Recovered
0   2020-04-29  Grand Princess     Afghanistan       1939      60        252
1   2020-04-29  Grand Princess         Albania        766      30        455
2   2020-04-29  Grand Princess         Algeria       3848     444       1702
3   2020-04-29  Grand Princess         Andorra        743      42        423
4   2020-04-29  Grand Princess          Angola         27       2          7
..         ...             ...             ...        ...     ...        ...
316 2020-04-29         Wyoming              US        545       7          0
317 2020-04-29        Xinjiang  Mainland China         76       3         73
318 2020-04-29           Yukon          Canada         11       0          0
319 2020-04-29          Yunnan  Mainland China        185       2        181
320 2020-04-29        Zhejiang  Mainland China       1268       1       1263

[321 rows x 6 columns]

In [32]:
df[df.duplicated()]

Empty DataFrame
Columns: [Date, State, Region, Confirmed, Deaths, Recovered]
Index: []

##  No Duplicated Values Exist?